body{
  background-size:cover;
  background-repeat:no-repeat;
  height:100%;
  width:100%;
}
h1{
  color:#113947;
  font-family:Georgia, serif;
  font-size:4em;
  text-shadow: 1px 0 white, 0 1px white, 1px 0 white, 0 1px white;

}
.container-fluid{
  margin-top:50px;
}
#weather{
  font-size:1.5em;
  color:#113947;
}
.weatherInfo{
  background-color:#113947;
  width: auto;
  display:inline;
  padding:20px;
  color:white;
}
.weatherDivs{
  margin:50px;
}
#unitButton{
  margin-left:10px;
  color:#113947;
}
#test{
  height: 600px;
  width: 500px;
  background-size:cover;
}